body{
    background-color: black;
    color: white;
}
.container {
    max-width: 400px;
    margin: 10vh auto 0 auto;
    box-shadow: 0px 0px 43px 17px rgb(179, 138, 138);
}

#display {
    text-align: right;
    height: 70px;
    line-height: 70px;
    padding: 16px 8px;
    font-size: 25px;
}

.buttons {
    display: grid;
    border-bottom: 1px solid rgb(179, 138, 138);
    border-left: 1px solid rgb(179, 138, 138);;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.buttons > div {
    border-top: 1px solid rgb(179, 138, 138);;
    border-right: 1px solid rgb(179, 138, 138);;
}

.button {
    border: 0.5px solid rgb(179, 138, 138);;
    line-height: 100px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
}


#equal {
    background-color: rgb(167, 255, 85);
    color: rgb(24, 21, 21);
}

.button:hover {
    background-color: #a8b985;
    color: white;
    transition: 0.5s ease-in-out;
}